.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  min-height: 100vh;
}

.card {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--dark-grey);
  text-align: center;
  width: 100%;
  max-width: 380px;
}

.avatar {
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 1.5rem;
}

.cardHead {
  margin-bottom: 1.75rem;
}

.cardHead h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

.cardHead p {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--green);
}

.quote {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li + li {
  margin-top: 16px;
}

.links a {
  font-size: 0.875rem;
  font-weight: 700;
  display: block;
  padding: 0.875rem 1rem;
  background-color: var(--grey);
  text-decoration: none;
  border-radius: 0.375rem;
  transition: background 0.15s, color 0.15s;
}

.links a:hover,
.links a:focus {
  background-color: var(--green);
  color: var(--off-black);
}
